<html>
<head>

</head>
<body>
<h2>{{ dir_summary }}</h2>

<table>
    <thead>
    <tr>
        <th>Dir</th>
        <th>last fetch</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for git_dir in git_obj_list %}
        <tr>
            <td>{{ git_dir }}</td>
            <td>{{ git_dir.last_fetch }}</td>
            <td>
                {% if git_dir.status %}

                    <ul>
                        {% for s in git_dir.status %}
                            <li>{{ s }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Up to date.</p>
                {% endif %}
            </td>
            <td>Actions</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>